.Skill{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 1000px;
}

.SKill_graph_container{
    width: 100%;
    max-width: 500px;
    padding-left: 3rem;
}
.VictoryContainer path{
    background-color: red;
    color:red
}