
.Intro{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(252, 241, 241);
}

.Intro_container {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);

}

.Intro_container .Intro_title{
    letter-spacing: 2px;
    margin: 0;
    font-size: 14vw;
    color: #A3835F;
}
