@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Noto+Sans+KR&display=swap');
* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Edu NSW ACT Foundation';
    animation: 1s appear 1 cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

@keyframes appear {
    from {opacity: 0; transform: translateX(-500px);}
}


/* 페이지 이동 버튼 */
.pageBtn{
    z-index: 100;
    border: none;
    font-size: 5rem;
    background-color: transparent;
    position: absolute;
    top: 50%;
}

.pageBtn:hover{
    color:brown;
    cursor: pointer;
}
.App_prev_btn{
    left: 3rem;
}
.App_next_btn{
    right: 3rem;
}